/*******************************************************************************
 * Structure
 ******************************************************************************/
/*
 * Header
 */
header h1 {
  margin:0 24px; /* IE8 */
  margin:0 1.5rem;
  float:left;
  line-height:80px; /* IE8 */
  line-height:5rem;
}

header nav {
  margin:0 12px; /* IE8 */
  margin:0 0.75rem;
  float:right;
}

header nav ul {
  padding:0;
}

header nav li {
  width:auto;
}

header nav a {
  margin:24px 12px; /* IE8 */
  margin:1.5rem 0.75rem;
  padding:0 16px; /* IE8 */
  padding:0 1rem;
}

/*
 * Footer
 */
footer {
  margin-right:0;
  margin-left:0;
}

footer > div {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:auto;
  width:976px;
}

footer address > div {
  float:none;
  width:256px;
}

footer address > div + div {
  margin-top:16px; /* IE8 */
  margin-top:1rem;
}

footer address:before {
  width:720px;
  height:224px; /* IE8 */
  height:14rem;
  background-image:url("../images/map.png");
}

@media screen and (min-resolution:144dpi) {
  footer address:before {
    background-image:url("../images/map@2x.png");
  }
}

/*******************************************************************************
 * Content
 ******************************************************************************/
.prose {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin-right:auto;
  margin-left:auto;
  width:976px;
}

/*
 * Subnavigation
 */
.subcontent {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin-right:auto;
  margin-left:auto;
  width:976px;
  min-height:23em;
}

.subcontent nav {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:16px 0;
  padding:1rem 0;
  float:left;
  width:240px;
  border:none;
  box-shadow:0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
  text-align:left;
}

.subcontent nav li {
  float:none;
  width:auto;
}

.subcontent nav li:first-child {
  margin-bottom:16px; /* IE8 */
  margin-bottom:1rem;
  padding-bottom:16px; /* IE8 */
  padding-bottom:1rem;
  border-bottom:thin solid lightgrey;
}

.subcontent nav a {
  padding-right:16px; /* IE8 */
  padding-right:1rem;
  padding-left:16px; /* IE8 */
  padding-left:1rem;
}

.subcontent > div {
  margin:0 0 0 256px;
}

.subcontent section {
  width:auto;
}

/*
 * Heading banner
 */
.heading-banner {
  padding:0;
  height:544px; /* IE8 */
  height:34rem;
  height:90vh;
  height:calc(100vh - 5rem);
  background-attachment:fixed;
  background-image:url("../images/banners/church@large.jpg");
}

.heading-banner > h1,
.heading-banner > p {
  position:absolute;
  right:8%;
  left:8%;
}

.heading-banner > h1 {
  bottom:50%;
}

.heading-banner > p {
  top:50%;
}

#motto-text {
  position:absolute;
  right:24px; /* IE8 */
  right:1.5rem;
  bottom:0;
  margin:0;
  width:15rem;
  background:rgba(0, 0, 0, 0.5);
}

/*
 * Promos
 */
.promos {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin-right:auto;
  margin-left:auto;
  padding:0 0 16px; /* IE8 */
  padding:0 0 1rem;
  width:976px;
}

.promos section {
  display:inline-block;
  margin:1rem 16px 0 0;
  margin:16px 16px 0 0;
  width:282.666px;
  vertical-align:middle;
}

.promos section:nth-of-type(3n) {
  margin-right:0;
}

/*
 * Sermons
 */
#sermon-player {
  position:relative;
  padding:0;
  height:352px;
  background-image:url("../images/banners/pulpit@large.jpg");
}

#sermon-player p {
  padding-top:64px; /* IE8 */
  padding-top:4rem;
  padding-bottom:0;
}

#sermon-player-title {
  overflow:hidden;
  white-space:nowrap;
  font-size:56px; /* IE8 */
  font-size:3.5rem;
}

#sermon-player-passage {
  font-size:24px; /* IE8 */
  font-size:1.25rem;
}

#sermon-player-speaker {
  margin-top:16px; /* IE8 */
  margin-top:1rem;
  font-size:24px; /* IE8 */
  font-size:1.5rem;
  font-weight:200;
}

#sermon-player audio {
  position:absolute;
  right:0;
  bottom:0;
  left:0;
}

#sermons {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin-right:auto;
  margin-left:auto;
  width:976px;
}

#sermons p {
  display:inline-block;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  width:50%;
}

#sermons p + p {
  margin:0;
}

#sermons .morning {
  padding-right:8px; /* IE8 */
  padding-right:0.5rem;
}

#sermons .evening {
  padding-left:8px; /* IE8 */
  padding-left:0.5rem;
}