/*******************************************************************************
 * Structure
 ******************************************************************************/
/*
 * Header
 */
header nav li {
  width:25%;
}

/*
 * Footer
 */
footer address > div {
  width:30%;
}

footer address:before {
  display:block;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  float:right;
  width:40%;
  height:128px; /* IE8 */
  height:8rem;
  background-image:url("../images/map@mini.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  content:"";
}

#copyright {
  overflow:hidden;
}

#copyright p {
  width:50%;
}

#copyright > :first-child {
  float:left;
}

#copyright > :last-child {
  float:right;
  text-align:right;
}

/*******************************************************************************
 * Content
 ******************************************************************************/ 
.prose {
  margin-right:1rem;
  margin-left:1rem;
}

section.prose > h1 {
  font-size:32px; /* IE8 */
  font-size:2rem;
}

section.prose > h2 {
  font-size:24px; /* IE8 */
  font-size:1.5rem;
}

.subheading {
  font-size:16px; /* IE8 */
  font-size:1rem;
}

.map {
  display:block;
  margin:16px -16px -16px; /* IE8 */
  margin:1rem -1rem -1rem;
  width:100%;
  width:calc(100% + 2rem);
  border:none;
}

.times small {
  margin-left:80px; /* IE8 */
  margin-left:5rem;
}

aside.times {
  font-size:16px; /* IE8 */
  font-size:1rem;
}

.profile {
  overflow:hidden;
}

.profile img {
  margin:0 16px 16px 0; /* IE8 */
  margin:0 1rem 1rem 0;
  float:left;
  width:128px; /* IE8 */
  width:6rem;
  height:auto;
}

.profile p {
  margin-left:7rem;
}

/*
 * Subnavigation
 */
main nav li {
  width:33.333%;
}

/*
 * Heading banner
 */
.heading-banner {
  position:relative;
  padding-top:96px; /* IE8 */
  padding-top:6rem;
  padding-bottom:96px; /* IE8 */
  padding-bottom:6rem;
  background-image:url("../images/banners/church@medium.jpg");
}

/* .heading-banner > h1 {
  font-size:48px; / IE8 /
  font-size:3rem;
}

.heading-banner > p {
  font-size:32px; / IE8 /
  font-size:2rem;
} */

#motto-text {
  margin-top:96px; /* IE8 */
  margin-top:6rem;
  margin-bottom:-96px; /* IE8 */
  margin-bottom:-6rem;
}

/*
 * Promos
 */
.promos {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin-right:16px; /* IE8 */
  margin-right:1rem;
  margin-bottom:-16px; /* IE8 */
  margin-bottom:-1rem;
  margin-left:16px; /* IE8 */
  margin-left:1rem;
  padding:0 0 16px; /* IE8 */
  padding:0 0 1rem;
}

.promos section {
  display:inline-block;
  margin:16px 16px 0 0; /* IE8 */
  margin:1rem 16px 0 0;
  width:277px;
  vertical-align:middle;
}

/*
 * Sermons
 */
#sermon-player {
  background-image:url("../images/banners/pulpit@medium.jpg");
}

#sermon-player p {
  padding-top:48px; /* IE8 */
  padding-top:3rem;
  padding-bottom:48px; /* IE8 */
  padding-bottom:3rem;
}

#sermon-player-title {
  font-size:32px; /* IE8 */
  font-size:2rem;
}

#sermons {
  margin-right:1rem;
  margin-left:1rem;
}