/*******************************************************************************
 * Structure
 ******************************************************************************/
/*
 * Header
 */
header nav li {
  width:25%;
}

/*
 * Footer
 */
footer address > div {
  width:30%;
}

footer address:before {
  display:block;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  float:right;
  width:40%;
  height:128px; /* IE8 */
  height:8rem;
  background-image:url("../images/map@mini.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  content:"";
}

#copyright {
  overflow:hidden;
}

#copyright p {
  width:50%;
}

#copyright > :first-child {
  float:left;
}

#copyright > :last-child {
  float:right;
  text-align:right;
}

/*******************************************************************************
 * Content
 ******************************************************************************/ 
.prose {
  margin-right:1rem;
  margin-left:1rem;
}

section.prose > h1 {
  font-size:32px; /* IE8 */
  font-size:2rem;
}

.times small {
  margin-left:80px; /* IE8 */
  margin-left:5rem;
}

/*
 * Subnavigation
 */
main nav a {
  height:auto;
}

/*
 * Heading banner
 */
.heading-banner {
  position:relative;
  padding-top:64px; /* IE8 */
  padding-top:4rem;
  padding-bottom:64px; /* IE8 */
  padding-bottom:4rem;
  background-image:url("../images/banners/church@medium.jpg");
}

.heading-banner > h1 {
  font-size:48px; /* IE8 */
  font-size:3rem;
}

.heading-banner > p {
  font-size:32px; /* IE8 */
  font-size:2rem;
}

#motto-text {
  margin-top:64px; /* IE8 */
  margin-top:4rem;
  margin-bottom:-64px; /* IE8 */
  margin-bottom:-4rem;
}

/*
 * Sermons
 */
#sermon-player {
  background-image:url("../images/banners/pulpit@medium.jpg");
}

#sermon-player p {
  padding-top:48px; /* IE8 */
  padding-top:3rem;
  padding-bottom:48px; /* IE8 */
  padding-bottom:3rem;
}

#sermon-player-title {
  font-size:32px; /* IE8 */
  font-size:2rem;
}

#sermons {
  margin-right:1rem;
  margin-left:1rem;
}