@import url("small.css");

/*******************************************************************************
 * Structure
 ******************************************************************************/
/*
 * Header
 */
header nav li {
  width:25%;
}

/*
 * Footer
 */
footer address p {
  width:30%;
}

footer address:before {
  display:block;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  float:right;
  width:40%;
  height:128px; /* IE8 */
  height:8rem;
  background-image:url("../images/map@mini.png");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  content:"";
}

/*******************************************************************************
 * Content
 ******************************************************************************/
/*
 * Heading banner
 */
.heading-banner {
  position:relative;
  padding-top:64px; /* IE8 */
  padding-top:4rem;
  padding-bottom:64px; /* IE8 */
  padding-bottom:4rem;
}

.heading-banner > h1 {
  font-size:48px; /* IE8 */
  font-size:3rem;
}

.heading-banner > p {
  font-size:32px; /* IE8 */
  font-size:2rem;
}

#motto-text {
  margin-top:64px; /* IE8 */
  margin-top:4rem;
  margin-bottom:-64px; /* IE8 */
  margin-bottom:-4rem;
}