.todo {
  padding:0 0.1em;
  background:red;
  color:white;
}

/*******************************************************************************
 * Structure
 ******************************************************************************/
body {
  margin:0;
  background:url('../images/background.jpg') #E9EAE5;
  font-family:"Source Sans Pro", "Segoe WP", Arial, sans-serif;
}

::-moz-selection {
  background:#4488CC;
  color:white;
}

::selection {
  background:#4488CC;
  color:white;
} 

/*
 * Header
 */
header {
  background:white;
  overflow:hidden;
}

header h1 {
  margin:16px 0 8px; /* IE8 */
  margin:1rem 0 0.5rem;
}

header nav ul {
  margin:0;
  padding:8px 0 0 8px; /* IE8 */
  padding:0.5rem 0 0 0.5rem; /* IE8 */
}

header nav li {
  display:block;
  float:left;
  width:50%;
}

header a {
  display:block;
  font-size:16px; /* IE8 */
  font-size:1rem;
  font-weight:bold;
  text-align:center;
  text-decoration:inherit;
  text-transform:uppercase;
  color:grey;
}

header nav a {
  margin:0 0.5rem 0.5rem 0; /* IE8 */
  margin:0 0.5rem 0.5rem 0;
  background:white;
  line-height:32px; /* IE8 */
  line-height:2rem;
  transition:background-color 200ms, color 200ms, transform 200ms;
}

header nav :link:hover,
header nav :visited:hover,
header nav :link:focus,
header nav :visited:focus {
  background:#4488CC;
  color:white;
}

header nav :link:active,
header nav :visited:active {
  transform:scale(0.9);
}

header nav :local-link {
  background:#4488CC;
  color:white;
}

header a img {
  height:48px; /* IE8 */
  height:3rem;
  vertical-align:middle;
  border:none;
}

/*
 * Footer
 */
footer {
  padding:16px; /* IE8 */
  padding:1rem;
  background:#333333;
  font-size:13px; /* IE8 */
  font-size:0.8125rem;
  color:white;
}

footer a {
  color:inherit;
}

footer p {
  margin:0;
}

footer address {
  padding:0 0 16px; /* IE8 */
  padding:0 0 1rem;
  overflow:hidden;
  font-style:inherit;
}

footer address > div {
  float:left;
  width:50%;
}

footer address p {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

footer address p + p {
  margin-top:16px; /* IE8 */
  margin-top:1rem;
}

footer address p strong {
  display:block;
}

#copyright {
  padding:16px 0 0; /* IE8 */
  padding:1rem 0 0;
  border-top:thin solid grey;
}
 
/*******************************************************************************
 * Content
 ******************************************************************************/
p, dl {
  margin:0;
}

dt {
  font-weight:bold;
}

dd {
  margin:0;
}

dd + dt {
  margin-top:16px; /* IE8 */
  margin-top:1rem;
}

.prose {
  margin:16px 0; /* IE8 */
  margin:1rem 0;
  padding:16px; /* IE8 */
  padding:1rem;
  background:white;
  box-shadow:0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

section.prose h1 {
  margin:0 0 16px; /* IE8 */
  margin:0 0 1rem;
  font-size:24px; /* IE8 */
  font-size:1.5rem;
  font-weight:200;
  text-align:center;
}

section.prose h2 {
  margin:32px 0 8px; /* IE8 */
  margin:2rem 0 0.5rem;
  font-size:20px; /* IE8 */
  font-size:1.25rem;
  font-weight:200;
}

.prose p + p {
  margin-top:16px; /* IE8 */
  margin-top:1rem;
}

.prose :link,
.prose :visited {
  color:#336699;
  transition:color 100ms;
}

.prose :link:hover,
.prose :visited:hover,
.prose :link:focus,
.prose :visited:focus {
  color:#4488CC;
}

.prose aside {
  margin:16px 0; /* IE8 */
  margin:1rem 0;
  padding:16px; /* IE8 */
  padding:1rem;
  background:#EFEFEF;
}

.image-banner {
  display:block;
  margin:16px -16px; /* IE8 */
  margin:1rem -1rem;
  width:100%;
  width:calc(100% + 2rem);
}

.map {
  display:none;
}

.times p + p {
  margin-top:8px;
  margin-top:0.5rem;
}

.times strong {
  display:inline-block;
  width:80px; /* IE8 */
  width:5em;
}

.times small {
  display:block;
  color:grey;
}

.times h2 {
  font-weight:bold !important;
  text-transform:uppercase;
}

aside.times {
  font-size:13px; /* IE8 */
  font-size:0.8125rem;
}

aside.times h2 {
  margin:16px 0 0; /* IE8 */
  margin:1rem 0 0;
  font-size:16px; /* IE8 */
  font-size:1rem;
}

aside.times h2:first-child {
  margin-top:0;
}

/*
 * Subnavigation
 */
main nav {
  margin:0 0 16px; /* IE8 */
  margin:0 0 1rem;
  padding:8px; /* IE8 */
  padding:0.5rem;
  border-top:thin solid grey;
  background:white;
  text-align:center;
}

main nav ul {
  margin:auto;
  padding:0;
  overflow:hidden;
}

main nav li {
  display:block;
  float:left;
  width:50%;
}

main nav a {
  display:block;
  padding:8px 0; /* IE8 */
  padding:0.5rem 0;
  font-weight:200;
  text-decoration:inherit;
  color:inherit;
  transition:background-color 200ms;
}

main nav :link:hover,
main nav :visited:hover,
main nav :link:focus,
main nav :visited:focus {
  background:#CEE0F2;
}

main nav :link:active,
main nav :visited:active {
  background:#4488CC;
}

main nav :local-link {
  background:#4488CC;
}

/*
 * Heading banner
 */
.heading-banner {
  padding:16px; /* IE8 */
  padding:1rem;
  background-image:url("../images/banners/church@small.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-color:#666666;
  color:white;
}

.heading-banner > h1 {
  margin:0;
  font-size:40px; /* IE8 */
  font-size:2.5rem;
  text-align:center;
  text-shadow:0 0 1em black;
}

.heading-banner > p {
  font-size:24px; /* IE8 */
  font-size:1.5rem;
  font-weight:200;
  text-align:center;
  text-shadow:0 0 0.25em black;
}

#motto-text {
  margin:16px -16px -16px; /* IE8 */
  margin:1rem -1rem -1rem;
  padding:8px 16px; /* IE8 */
  padding:0.5rem 1rem;
  overflow:hidden;
  background:#333333;
  font-size:13px; /* IE8 */
  font-size:0.8125rem;
}

#motto-text h1 {
  margin:0;
  font-size:16px; /* IE8 */
  font-size:1rem;
  font-weight:200;
}

#motto-text blockquote {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  float:left;
  margin:0;
  padding:0 8px 0 0; /* IE8 */
  padding:0 0.5rem 0 0;
  width:60%;
  border-right:thin solid rgba(255, 255, 255, 0.5);
  font-style:italic;
}

#motto-text p {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  float:right;
  padding:0 0 0 8px; /* IE8 */
  padding:0 0 0 0.5rem;
  width:40%;
}

#motto-text a {
  color:white;
}

/*
 * Promos
 */
.promos section {
  position:relative;
  margin:16px; /* IE8 */
  margin:1rem;
  padding:16px; /* IE8 */
  padding:1rem;
  height:256px; /* IE8 */
  height:16rem;
  background-color:white;
  background-position:center;
  background-repeat:no-repeat;
  box-shadow:0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

.promos section > a {
  display:block;
  margin:-16px; /* IE8 */
  margin:-1rem;
  padding:16px; /* IE8 */
  padding:1rem;
  height:256px; /* IE8 */
  height:16rem;
  background:white;
  text-decoration:inherit;
  color:inherit;
  transition:background-color 200ms;
}

.promos section > :link:hover,
.promos section > :visited:hover,
.promos section > :link:focus,
.promos section > :visited:focus {
  background:#CEE0F2;
}

.promos h1 {
  margin:0 0 16px; /* IE8 */
  margin:0 0 1rem;
  font-size:24px; /* IE8 */
  font-size:1.5rem;
  font-weight:200;
}

#service-times {
  margin:16px 0; /* IE8 */
  margin:1rem 0;
  text-align:center;
}

#service-times time {
  display:block;
  font-size:48px; /* IE8 */
  font-size:3rem;
  font-weight:200;
}

#prayermeeting-times {
  position:absolute;
  bottom:16px; /* IE8 */
  bottom:1rem;
}

#prayermeeting-times strong {
  display:block;
  font-style:italic;
  font-weight:normal;
}

/*
 * Sermons
 */
#sermon-player {
  position:relative;
  margin:16px -16px -16px; /* IE8 */
  margin:1rem -1rem -1rem;
  background-image:url("../images/banners/pulpit@small.jpg");
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-color:#666666;
  color:white;

}

#sermon-player p {
  padding:16px 0; /* IE8 */
  padding:1rem 0;
  text-align:center;
}

#sermon-player p strong {
  font-weight:bold;
  text-transform:uppercase;
}

#sermon-player p span {
  display:block;
  padding:0 16px; /* IE8 */
  padding:0 1rem;
}

#sermon-player-title {
  font-size:24px; /* IE8 */
  font-size:1.5rem;
  font-weight:200;
}

#sermon-player-passage {
  font-weight:200;
}

#sermon-player-speaker {
  margin-top:8px; /* IE8 */
  margin-top:0.5rem;
  font-size:20px; /* IE8 */
  font-size:1.25rem;
  font-weight:200;
}

#sermon-player audio {
  width:100%;
}

#sermons {
  margin:16px 0; /* IE8 */
  margin:1rem 0;
  padding:0;
}

#sermons li {
  display:block;
  margin:0;
}

#sermons li + li,
#sermons p + p {
  margin-top:16px; /* IE8 */
  margin-top:1rem;
}

#sermons p {
  font-size:13px; /* IE8 */
  font-size:0.8125rem;
}

#sermons a {
  display:block;
  padding:8px 16px; /* IE8 */
  padding:0.5rem 1rem;
  background:white;
  box-shadow:0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
  text-decoration:inherit;
  color:inherit;
  transition:background-color 200ms;
}

#sermons :link:hover,
#sermons :visited:hover,
#sermons :link:focus,
#sermons :visited:focus {
  background:#CEE0F2;
}

#sermons :link:active,
#sermons :visited:active {
  background:#4488CC;
}

#sermons .sermon-title {
  display:block;
  overflow:hidden;
  font-size:16px; /* IE8 */
  font-size:1rem;
  text-overflow:ellipse;
}

#sermons .sermon-speaker:before,
#sermons .sermon-date:before {
  content:"\00b7\0020"; /* interpunct + space */
}